/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0e4476;
  --ifm-color-primary-dark: #0d3d6a;
  --ifm-color-primary-darker: #0c3a64;
  --ifm-color-primary-darkest: #0a3053;
  --ifm-color-primary-light: #0f4b82;
  --ifm-color-primary-lighter: #104e88;
  --ifm-color-primary-lightest: #125899;
}

/* Overriding root Infima variables */
[data-theme='dark'] {
  --ifm-color-primary: #4e89e8;
}
/* Styling one class specially in dark mode */
[data-theme='dark'] .purple-text {
  color: plum;
}